<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SigesoftDesarrollo_2;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Pa$$w0rd&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ContasolConnectionString" connectionString="Initial Catalog=20505310072; Data Source=.;user id=sa;password=Pa$$w0rd;Connect Timeout=2000"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="TimerIntervale" value="400000" />
    <add key="NodeId" value="9" />
    <add key="AlmacenId" value="1" />
    <add key="EsMayuscula" value="0" />    <!--0 = NO y 1 = SI-->
    <add key="ClientSettingsProviderx" value="kjdbhc87ty378yed3bhwyedgh78qwehduiq7834" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="rutaCotizacion" value="\\192.168.1.179\Archivos Ocupacional\Cotizacion\" />  
    <add key="rutaReportes" value="\\192.168.1.179\Archivos Ocupacional\Reportes Medicos\" />
    <add key="rutaPagoMedicos" value="\\192.168.1.179\Archivos Ocupacional\Pagos\" />
    <add key="rutaConsolidado" value="\\192.168.1.179\Archivos Ocupacional\Consolidado\" />
    <add key="rutaLiquidacion" value="\\192.168.1.179\Archivos Ocupacional\Liquidacion\" />
    <add key="ImgRxOrigen" value="\\192.168.1.179\Archivos Ocupacional\RayosX\" />
    <add key="ImgRxDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgEKGOrigen" value="\\192.168.1.179\Archivos Ocupacional\EKG\" />
    <add key="ImgEKGDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgESPIROOrigen" value="\\192.168.1.179\Archivos Ocupacional\Espiro\" />
    <add key="ImgESPIDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgLABOrigen" value="\\192.168.1.179\Archivos Ocupacional\Laboratorio\" />
    <add key="ImgLABDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgOftalmoOrigen" value="\\192.168.1.179\Archivos Ocupacional\Oftalmologia\" />
    <add key="ImgOftalmoDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgMedicinaOrigen" value="\\192.168.1.179\Archivos Ocupacional\Medicina\" />
    <add key="ImgMedicinaDestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <add key="ImgPSICOOrigen" value="\\192.168.1.179\Archivos Ocupacional\Psicologia\" />
    <add key="ImgPSICODestino" value="\\192.168.1.179\Archivos Ocupacional\Descarga\" />
    <!--<add key="rutaReportesBasura" value="\\192.168.1.179\Archivos Ocupacional\Temporal\" />-->
    <add key="rutaReportesBasura" value="\\192.168.1.179\Archivos Ocupacional\Temporal\" />
    <add key="Certificado312" value="\\192.168.1.179\Archivos Ocupacional\Certificados\" />
    <add key="CertificadoEmp" value="\\192.168.1.179\Archivos Ocupacional\Certificados\" />
    <add key="CertificadoObs" value="\\192.168.1.179\Archivos Ocupacional\Certificados\" />
    <add key="CertificadoRetiro" value="\\192.168.1.179\Archivos Ocupacional\Certificados\" />
    <add key="CertificadoSinDX" value="\\192.168.1.179\Archivos Ocupacional\Certificados\" />
    <add key="Interconsulta" value="\\192.168.1.179\Archivos Ocupacional\Interconsultas\" /> 
    <add key="Asistencia" value="\\192.168.1.179\Archivos Ocupacional\Asistencia\" />
    <add key="InformeTrab1" value="\\192.168.1.179\Archivos Ocupacional\Informes Medicos\" />
    <add key="InformeTrab2" value="\\192.168.1.179\Archivos Ocupacional\Informes Medicos\" />
    <add key="InformeTrab3" value="\\192.168.1.179\Archivos Ocupacional\Informes Medicos\" />
    <!--<add key="imgFooter" value="C:\Banner\banner2.jpg" />-->
    <add key="imgFooter2" value="C:\Program Files (x86)\NetMedical\Banner\banner2.jpg" />
    <add key="color1" value="0" />
    <add key="color2" value="98" />
    <add key="color3" value="145" />
    <add key="linea1" value=" " />
    <add key="linea2" value=" " />
    <!--<add key="ObackOfficeApiUrl" value="http://localhost:50689/" />-->
    <!--<add key="ObackOfficeApiUrl" value="http://192.168.1.179:8081/" />-->
    <add key="OnlyStartOnce" value="false" />
    <add key="ConexionSigesoft" value="Data Source =.; Initial Catalog=SigesoftDesarrollo_2; User Id=sa; Password=Pa$$w0rd" />
    <add key="ConexionSambhs" value="Data Source = .; Initial Catalog=20505310072; User Id=sa; Password=Pa$$w0rd" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>
